body
{
    background-color:lightsteelblue;
}
div.topdog {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows:auto;
    grid-template-areas:'. head .'
                        '. main .'
                        'replybox replybox footer';
}
.head{
    grid-area:head;
}
.fontsizeandspacing{
    font-size:24px;
    word-spacing:4px;
}
.empty{
    grid-area:empty;
}
.footer{
    grid-area:footer;
}
.main {
    grid-area:main;
}
.sprite {
    width:143px;
    height:150px;
    background:url(img/Robo.Png) 580px -200px;
}
.replybox {
    grid-area:replybox;
    display:grid;
    grid-template-areas:'chatbox otherchatbox'
                         'chatbox otherchatbox';
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto;
}
.otherone {
    width:143px;
    height:150px;
    background:url(img/Robo.Png) 733px -420px;
}
.sprite2 {
    width: 143px;
    height: 150px;
    background: url(img/Robo.Png) 733px -592px;
}
.chatbox {
    grid-area:chatbox;
}
.otherchatbox {
    grid-area:otherchatbox;
}